services:
  api:
    volumes:
      - ./data:/app/data
    build:
      context: .
      dockerfile: Dockerfile
    container_name: weather-api
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - redis
      - minio
    restart: unless-stopped

  redis:
    image: redis:7-alpine
    container_name: weather-redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    restart: unless-stopped

  minio:
    image: minio/minio:latest
    container_name: weather-minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: ${MINIO_ACCESS_KEY}
      MINIO_ROOT_PASSWORD: ${MINIO_SECRET_KEY}
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data
    restart: unless-stopped

  test:
    build: .
    command: poetry run pytest
    depends_on:
      - redis
      - minio
    env_file:
      - .env

volumes:
  redis_data:
  minio_data:
